<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Deal-Stalker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-light">

  <!-- Main Container -->
  <div class="container">

    <!-- Main Title -->
    <h1 class="heading mt-5 text-center">Deal Stalker</h1>

    <!-- form here -->
    <form id="urlForm">
      <div class="form-group text-center mt-5">
        <label for="productUrl">Enter Your Product's URL</label>
        <input type="text" class="form-control w-50 mx-auto text-center" id="productUrl" placeholder="PRODUCT URL" aria-describedby="urlHelp" autocomplete="off">
        <small id="urlHelp" class="form-text text-muted">Copy & Paste the entire URL of the wished product.</small>
      </div>
      <button type="submit" class="d-block btn btn-info mx-auto" data-js="submitBtn">FETCH!</button>
    </form>

    <div class="article" id="productList"></div>

  </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <script src="../app.js"></script> -->
</body>
</html>